body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  background-color: #fbe5d8;
}

h1, h2 {
  text-align: center;
}

h1 {
  margin-bottom: 0;
}

.version-number {
  text-align: center;
  margin: 0 0 20px 0;
  font-size: .85rem;
}

main {
  box-sizing: border-box;
  max-width: 320px;
  padding: 15px;
  margin: 0 auto;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 15px;
}

label {
  font-size: .85rem;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

.button-wrapper {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

button {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

#submit-button, #cancel-button {
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
}

#submit-button {
  background-color: #d46b29;
  border: 1px solid #d46b29;
}

#cancel-button {
  margin-top: 10px;
  background-color: #000000;
  border: 1px solid #000000;
}

#contact-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.contact-link {
  font-weight: bold;
  color: #d46b29;
}

.contact-option-button {
  border: none;
  background-color: transparent;
  font-weight: bold;
  color: #d46b29;
  padding: 0;
  padding: 2px;
  margin-left: 15px;
}

.hidden {
  display: none;
}



